/*-------- Utility Styles --------*/
* {
	box-sizing: border-box; 
	/* ^^^ Forces all elements to include content, padding, and border as part of their width/height calculation: 
	http://www.w3schools.com/cssref/css3_pr_box-sizing.asp */
	font-family: 'Proza Libre', sans-serif;
}

/* 
	Use Google Fonts to make all of the text Proza Libre.

	Make the Title twice as large as the body text, bold, and give it some nice margin.
*/

/*-------- Main Styles --------*/
.formSection.container {
	width: 50%;
	max-width: 500px;
	background-color: #E3E6EC;
	float: left;
	border-radius: 5px;
	padding: 10px;
}
.container.results {
	width: 50%;
	background-color: #C8DBB3;
	float: right;
	border-radius: 5px;
}
h1 {
	font-size: 30px;
	font-weight: 700;
	margin-left: 20px;
	margin-top: 25px;
}
/* 
	Make the main container the full width of the page.

	Make the two inner containers (the form and the results) float side by side, on the left side of the screen.

	Every container, form, input, and button should have rounded corners.
*/
#main {
	width: 100%;
	background-color: lightblue;
}
/*-------- Form Styles --------*/
#name, #mission, #noun-1, #noun-2, #verb-1 {
	margin-top: 10px;
}

#name, #mission, #noun-1, #noun-2 {
	border-radius: 5px;
	width: 100%;
	display: inline-block;
}
#name, #noun-1, #noun-2, #verb-1 {
	height: 40px;
}
#verb-1 {
	display: block;
	width: 100%;
}
#mission {
	height: 80px;
}
.row {
	padding: 20px 0;
}
.row.formGroup {
	width: 100%;
	display: inline-block;
}
label {
	padding: 20px 0;
}
.radioButtons, .radio, .checkboxes, .check {
	padding: 10px 0;
}
.radioButtons, .checkboxes {
	padding-left: 10px;
}
/* 

	Make sure the form itself fills the width of whatever container its in, but no larger than 500px.
	
	The background should be #E3E6EC, and it should align to the middle of its container.
	
	Every element should have nice, even padding or margin around it.

	.row elements should be spaced out so they're not touching.

	.formGroup elements should fill the width of their container, and be inline-block.

	The labels inside of .formGroup should be on their own line above form options, fill the width of their container, and have top/bottom padding.

	Radio buttons and checkbox options should each be on their own line, and indented a little. 

	Radio buttons and checkbox labels should be directly to the right of their corresponding inputs, and the text should vertically align with the inputs. 

	Text inputs, submit buttons, and select boxes should all be at least 48px tall. The should have 14px of padding around their text. 

	Textareas should be at least 100px tall.

	Text inputs, select boxes, and textareas should have a 1px border that's #CCC, and none of the default shadows.

	The submit button should float to the right, be bolded, and only be as wide as the text makes it.

	The submit button should be rga(39, 208, 127), but only 50% opacity. On hover, it should be 100% opacity.
	
	
*/


/*-------- Results Styles --------*/


/* 

	The results container should also fill the width of its container, but only up to 500px.

	The results container should have a background color of #C8DBB3, and comfortable padding around the text.

*/

